/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 #map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.map-wrapper #form-wrapper{
  position: absolute;
  top: 90px;   
  left: 10px;
  padding: 10px;
  border-radius: 3px;
  background: white;
}

.map-wrapper #form-wrapper input{
  display: block;
  margin-bottom: 12px;
  height: 35px;
  padding: 4px 7px;
  border: 1px solid lightgrey;
}

.map-wrapper #form-wrapper .btn{
  width: 100%;
  text-align: left;
  transition: all 0.3s ease-in-out;
}

.map-wrapper #form-wrapper .btn:hover{
  cursor: pointer;
  color: white;
  background-color: cadetblue;
}

.map-wrapper #directions-panel {
  position: absolute;
  bottom: 0px;   
  left: 0px;
  padding: 10px;
  border-radius: 3px;
  background: white;
  width: 98vw;
}

.route-box {
  font-size: 16px;
  text-align: center;
}

.route-box span{
  margin-right: 10px;
}

.route-box .address{
  color: grey;
}

.route-box .address .to{
  margin: 0px;
  padding: 0px 8px;
  color: black;
}